@import "~font-awesome/css/font-awesome.min.css";
@import "../../variables";

// Variables
$primary-bg: linear-gradient(0deg, #faffef, #faffef);
$text-color: #141414;
$box-shadow: 0 0.2500rem 0.3750rem rgba(0, 0, 0, 0.1);
$primary-color: #6b911b;
$primary-color1: #bfea5b;
$secondary-color: #000000;
$navlink-color: #141414;
$border-color: #ddd;
$border-color1: solid 0.1250rem #6b911b;
$background-color: white;
$hover-bg-color: lightgray;
$font-family: "DM Sans", sans-serif;
$font-weight: 600;
$font-weight2: 400;
$width: 100%;
$max-width: 90.0000rem;
$height: auto;
$max-height: 39.8750rem;
$gap: 9.3750rem;
$letter-spacing: -0.4%;
$font-size: 2.2500rem;
$line-height: 3.0000rem;
$letter-spacing1: 0%;
$text-align: center;

.about-us {
  text-align: $text-align;
  font-family: $font-family;
  height: 300%;
  overflow: hidden;

  .hero-section {
    background: url("../../ux-ux-designs/Aboutus-hero.png") no-repeat center
      center/cover;
    height: 18.7500rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $background-color;
    //font-size: 2rem;

    h1 {
      padding-top: 6.2500rem;
      font-family: $font-family;
      font-weight: $font-weight;
      font-size: 3.7500rem;
      //line-height: 1.5000rem;
      letter-spacing: 0%;
    }
  }

  /* ABOUT SECTION */
  .content {
    width: $width;
    max-width: $max-width;
    margin: 0 auto;
    padding: 4rem 5rem;

    .about-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;
      width: 100%;
      height: auto;
      overflow: hidden;

      @media (max-width: 1024px) {
        flex-direction: column;
        text-align: center;
      }
    }

    .about-content-up {
      flex: 1;
      max-width: 100%;

      .section-title {
        min-width: $width;
        font-family: $font-family;
        font-size: 2.2500rem;
        font-weight: $font-weight;
        color: $primary-color;
        margin-bottom: 1rem;
        text-align: start;
        //line-height: 1.8750rem;
        letter-spacing: 0%;
      }

      .subtitle {
        color: #060606;
        margin-bottom: 1rem;
        text-align: start;
        font-family: $font-family;
        font-weight: 500;
        font-size: 1.5000rem;
        letter-spacing: 0%;
      }

      .story-text {
        font-family: $font-family;
        font-size: 1.1250rem;
        font-weight: 400;
        line-height: 1.5;
        color: #9b9d8e;
        max-width: 36.0000rem;
        text-align: justify;
      }
    }

    .about-image {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 100%;
      overflow: hidden;

      .img-container {
        position: relative;
        display: flex;
        align-items: center;
        overflow: hidden;

        .img-main {
          width: $width;
          max-width: 31.2500rem; // ✅ Limits image size to avoid excess space
          height: auto;
          border-radius: 2.0000rem;
          position: relative;
          z-index: 2;
        }

        .img-small {
          width: 11.2500rem;
          height: auto;
          border-radius: 1.2500rem;
          position: absolute;
          bottom: -1.8750rem;
          left: -2.5000rem;
          box-shadow: 0.3125rem 0.3125rem 0.9375rem rgba(0, 0, 0, 0.2);
          z-index: 3;
        }
      }
    }
  }

  /* AGRITECH SECTION */
  .about-section {
    background-color: #fcfff5;
    width: $width;
    max-width: $max-width;
    margin: 0 auto;
    padding: 4rem 5rem;

    .about-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10rem;
      width: 100%;
      height: auto;
      overflow: hidden;

      @media (max-width: 1024px) {
        flex-direction: column;
        text-align: center;
      }
    }

    .about-images {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: $width;
      max-width: 31.2500rem;
      overflow: hidden;

      .background-shape {
        width: 6.2500rem;
        height: 6.2500rem;
        background-color: #6b911b;
        position: absolute;
        bottom: -1.2500rem;
        left: -1.2500rem;
        border-radius: 0.6250rem;
      }

      .main-image {
        width: 100%;
        height: auto;
        border-radius: 1.0000rem;
        position: relative;
        z-index: 2;
      }

      .overlay-image {
        width: 11.2500rem;
        height: auto;
        border-radius: 1.2500rem;
        position: absolute;
        bottom: -1.8750rem;
        left: -2.5000rem;
        box-shadow: 0.3125rem 0.3125rem 0.9375rem rgba(0, 0, 0, 0.2);
        z-index: 3;
      }
    }

    .about-text {
      flex: 1;
      max-width: 100%;

      .title {
        font-family: $font-family;
        font-size: 2.2500rem;
        font-weight: $font-weight;
        color: $primary-color;
        margin-bottom: 1rem;
        text-align: start;
        //line-height: 1.8750rem;
        letter-spacing: 0%;
      }

      .subtitle {
        color: #060606;
        margin-bottom: 1rem;
        text-align: start;
        font-family: $font-family;
        font-weight: 500;
        font-size: 1.5000rem;
        letter-spacing: 0%;
        padding-top: 0.9375rem;
      }

      .description {
        font-family: $font-family;
        font-size: 1.1250rem;
        font-weight: 400;
        line-height: 1.5;
        color: #9b9d8e;
        max-width: 36.0000rem;
        text-align: justify;
      }
    }
  }

  /* RESPONSIVE DESIGN */
  @media (max-width: 1024px) {
    h1 {
      font-size: 3rem;
    }
    .about-section,
    .content {
      padding: 3rem 2rem;
    }

    .about-content {
      flex-direction: column;
      text-align: center;
      gap: 1.5rem;
    }

    .about-text,
    .about-content-up {
      max-width: 90%;
    }
  }

  @media (max-width: 768px) {
    h1 {
      font-size: 2.5rem;
    }

    .about-section,
    .content {
      padding: 2rem;
    }

    .title {
      font-size: 1.7500rem;
    }

    .subtitle {
      font-size: 1.1250rem;
    }

    .description,
    .story-text {
      font-size: 1.0000rem;
    }
  }

  @media (max-width: 480px) {
    h1 {
      font-size: 2rem;
    }

    .about-section,
    .content {
      padding: 1.5rem;
    }

    .title {
      font-size: 1.5000rem;
    }

    .subtitle {
      font-size: 1.0000rem;
    }

    .description,
    .story-text {
      font-size: 0.8750rem;
    }
  }

  /*  MISSION SECTION*/

  .mission {
    width: $width;
    max-width: $max-width;
    text-align: center;
    padding: 4rem 3rem;

    .mission-title {
      color: $primary-color;
      margin-bottom: 1.8750rem;
      font-family: $font-family;
      font-weight: $font-weight;
      font-size: 2.2500rem;
      letter-spacing: 0%;
      text-align: center;
    }

    .mission-cards {
      display: flex;
      justify-content: center;
      gap: 1.2500rem;
      flex-wrap: wrap;
    }

    .mission-card {
      background: #fff;
      border-radius: 0.6250rem;
      box-shadow: 0 0.2500rem 0.3750rem rgba(0, 0, 0, 0.1);
      overflow: hidden;
      width: 25.0000rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0.9375rem;
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: translateY(-5px);
      }
    }

    .mission-image {
      width: 6.2500rem;
      height: 6.2500rem;
      border-radius: 0.5000rem;
      object-fit: cover;
      margin-right: 0.9375rem;
    }

    .mission-content {
      text-align: left;
    }

    .mission-heading {
      color: $navlink-color;
      margin-bottom: 0.3125rem;
      font-family: $font-family;
      font-weight: $font-weight;
      font-size: 1.2500rem;
      letter-spacing: 0%;
    }

    .mission-description {
      color: #9b9d8e;
      font-family: $font-family;
      font-weight: 400;
      font-size: 1.0000rem;
      letter-spacing: 0%;
    }

    @media (max-width: 768px) {
      .mission-cards {
        min-width: 100%;
        flex-direction: column;
        align-items: center;
      }

      .mission-card {
        flex-direction: row;
        width: 100vw;
        max-width: 100%;

        img {
          width: 18.7500rem;
          height: 7.5000rem;
          border-radius: 0.3125rem;
        }
        .mission-content{
          width: 21.8750rem;
        }
        .mission-title{
          font-weight: 200;
          font-size: x-small;
        }

        .mission-description{
          font-size: xx-small;
        }
      }
    }
  }

  /*  MISSION SECTION*/

  .impact {
    width: $width;
    max-width: $max-width;
    text-align: center;
    padding: 4rem 2rem;

    .impact-title {
      color: $primary-color;
      margin-bottom: 1.8750rem;
      font-family: $font-family;
      font-weight: 700;
      font-size: 2.2500rem;
      letter-spacing: 0%;
      text-align: center;
    }

    .impact-grid {
      display: flex;
      justify-content: center;
      gap: 8.4375rem;
      flex-wrap: wrap;

      > * {
        // Targets all direct children of .impact-grid
        box-shadow: 0.3125rem 0.3125rem 0.9375rem rgba(0, 0, 0, 0.2); // Soft shadow effect
        border-radius: 0.6250rem; // Optional: Adds rounded corners
        padding: 1.2500rem; // Optional: Adds spacing inside the items
        background-color: #fff; // Optional: Ensures contrast with the shadow
      }
    }

    .impact-item {
      text-align: center;
    }

    .impact-number {
      font-size: 3.7500rem;
      font-weight: $font-weight;
      color: $navlink-color;
    }

    .impact-label {
      color: #9b9d8e;
      margin-top: 0.3125rem;
      font-family: $font-family;
      font-weight: 500;
      font-size: 1.1250rem;
      letter-spacing: 0%;
      text-align: center;
    }

    @media (max-width: 768px) {
      .impact-grid {
        width: 100vw; // Ensures full viewport width
        max-width: 100%; // Override previous max-width limitation
        flex-grow: 1; // Ensures it grows with the content
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; // Centers content vertically
        gap: 3.1250rem;
        padding: 1.2500rem; // Adds spacing to avoid touching the edges
        box-sizing: border-box; // Ensures padding doesn't affect width
      }
    }
  }
}
