@import "../../variables";

.testimonials {
  text-align: center;
  font-family: $font-family;
  border-top: 2px solid #eeeaea;
   
  .happy-investors {
    text-align: center;
    padding: 50px;
    background-color: white;
    height: 100vh; // Full viewport height
    display: flex;
    justify-content: center;
    align-items: center;

    .investors-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      padding: 10px;
      margin-top: 20px;

      .investor-image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
        position: absolute;
        animation: floatAnimation 10s infinite alternate ease-in-out;
      }
    }

    .investors-info {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      background: rgba(255, 255, 255, 0.8);
      padding: 20px;
      width: 80%;
      max-width: 949px;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 16px;
      overflow: hidden;

      h1 {
        font-size: clamp(2rem, 5vw, 60px);
        font-weight: 600;
        line-height: 1.2;
        overflow: hidden;
      }

      p {
        max-width: 60%;
        font-size: clamp(1rem, 2vw, 18px);
        font-weight: 500;
        line-height: 1.5;
        margin: 0 auto;
      }
    }
  }

  // Floating animation for images
  @keyframes floatAnimation {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(40px);
    }
  }

  .video-section {
    padding: 40px 20px;
    text-align: center;

    .video-thumbnail {
      width: 80%;
      max-width: 600px;
      margin: 0 auto;
      height: 300px;
      background: url("../../ux-ux-designs/port-you.png") no-repeat center
        center/cover;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
    }

    blockquote {
      width: 80%;
      max-width: 600px;
      margin: 50px auto 0;
      font-size: clamp(1rem, 2vw, 18px);
      font-weight: 500;
      text-align: center;
    }
  }

  .testimonials-cover {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 40px;
    justify-content: center;

    img {
      width: 100%;
      height: 350px;
    }

    .testimonial-card {
      color: white;
      text-align: left;
      width: 100%;
      //max-width: 428px;
      height: 350px;
      padding: 30px 39px;
      border-radius: 20px;
      overflow: hidden;

      h3,
      .position,
      .text {
        padding-bottom: 20px;
      }

      .quote {
        font-size: clamp(2rem, 4vw, 83px);
        font-weight: 500;
        line-height: 1.2;
      }

      &.green {
        background: #4caf50;
      }
      &.yellow {
        background: #ffb300;
      }
    }
  }

  .cta {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    max-width: 500px; /* Ensures it doesn’t get too big */
    height: 48px;
    border: 1px solid #6b911b;
    border-radius: 200px;
    background: white;
    margin: 50px auto; /* Centers the section horizontally */
    text-align: center; /* Ensures inline elements inside are centered */
    overflow: hidden;
  }

  .cta-button {
    color: #6b911b;
    background: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem 2rem;
    text-decoration: none;
    transition: background 0.3s ease;
    border: none;
    cursor: pointer;
    width: 100%;
    max-width: 500px;
  }

  .cta:hover {
    background: #6b911b;
  }

  .cta-button:hover {
    color: white;
    background: #6b911b;
  }

  /* Ensure full responsiveness */
  @media (max-width: 768px) {
    .cta {
      width: 90%;
      max-width: 100%;
    }

    .cta-button {
      font-size: 0.7rem;
      padding: 0.8rem 1.5rem;
    }
  }

  /* Responsive Design */

  @media (max-width: 1024px) {
    .testimonials-cover {
      grid-template-columns: repeat(2, 1fr);
      padding: 30px;
    }
    .video-section {
      margin-top: 50px;
    }
  }

  @media (max-width: 768px) {
    .testimonials-cover {
      grid-template-columns: repeat(1, 1fr);
      //max-width: 100%;
      padding: 20px;
    }
    .video-section {
      margin-top: 70px;

      .video-thumbnail {
        height: 250px;
      }
    }
  }

  @media (max-width: 480px) {
    .testimonials {
      gap: 15px;

      .happy-investors {
        padding: 30px;
        height: auto;
      }

      .video-section {
        margin-top: 100px;
      }

      .testimonials-cover {
        grid-template-columns: repeat(1, 1fr);
        padding: 20px;

        .testimonial-card {
          max-width: 90%;
          padding: 20px;
        }
      }
      .cta-button {
        font-size: 1rem;
        padding: 0.8rem 1.5rem;
      }
    }
  }
}

@media (max-width: 375px) {
  .testimonials {
    padding: 15px;

    .happy-investors {
      padding: 20px;
    }

    .investors-info {
      width: 90%;
      h1 {
        font-size: 2rem;
      }
      p {
        max-width: 80%;
        font-size: 1rem;
      }
    }

    .video-section {
      margin-top: 120px;
    }

    .testimonials-cover {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

@media (max-width: 344px) {
  .testimonials {
    padding: 10px;

    .happy-investors {
      padding: 10px;
    }

    .investors-info {
      width: 95%;
      h1 {
        font-size: 1.8rem;
      }
      p {
        max-width: 90%;
        font-size: 0.9rem;
      }
    }

    .video-section {
      margin-top: 140px;
    }

    .testimonials-cover {
      grid-template-columns: repeat(1, 1fr);
    }
    .testimonial-card {
      padding: 15px;
    }

    .cta-button {
      font-size: 0.9rem;
      padding: 0.6rem 1.2rem;
    }
  }
}
