// importing styles

@import "./components/Navbar/Navbar.scss";
@import "./components/HeroSection/HeroSection.scss";
@import "./components/Features/Features.scss";
@import "./components/HowItWorks/HowItWorks.scss";
@import "./components/Testimonials/Testimonials.scss";
@import "./components/Footer/Footer.scss";

// styles.scss

html,
body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}

.how-it-works,
.testimonials {
  padding: 0.01rem;
}
